set timeout=5
menuentry "RezzOS" {
    linux /boot/bzImage console=ttyS0 quiet loglevel=0
    initrd /boot/rootfs.cpio.gz
}
menuentry "RezzOS Safe Mode" {
    linux /boot/bzImage console=ttyS0 quiet loglevel=0 nomodeset
    initrd /boot/rootfs.cpio.gz
}
